@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}

nav {
    width: 100vw;
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
}

span {
    width: 6rem;
    height: 4rem;
    background-image: url('../Images/logoNike.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.nav_items {
    list-style: none;
    font-size: 1.6rem;
    font-weight: bold;
}

.nav_items li {
    display: inline-block;
    margin-left: 3rem;
}

.nav_items li a {
    text-decoration: none;
    color: #000;
}

.nav_input {
    width: 20rem;
    height: 3rem;
    padding-left: 1rem;
    border-radius: 1rem;
    border: 0.1rem solid #dadada;
    outline: none;
}